;SRE
;Solar Realms Elite
;0.994b
  let GAME := SRE
  tell $GAME " " 0.994b " setup:"
  if $doorfile == "" goto Local

  getcwd CWD
  tell "The " $GAME " directory is `" $CWD "'."

  let rI1 := "Install.BBSDirectory"
  let rI2 := "Install.DoorFileDir"
  let rI3 := "Install.BatchFile"

  getres $rI1 BBSDir
  getres $rI2 DoorFileDir
  getres $rI3 BatchFile

  display "Which directory is your BBS in?  "
  read BBSDir
  if $BBSDir == "" let BBSDir := "."
  fixpath BBSDir

  if $DoorFileDir == "" let DoorFileDir := $BBSDir
  display "Enter the full path to your BBS's door files: "
  read DoorFileDir
  if $DoorFileDir == "" let DoorFileDir := "."
  fixpath DoorFileDir

  if $BatchFile == "" let BatchFile := $BBSDir $GAME ".BAT"
  display "Batch file to create:  "
  read BatchFile

  setres $rI1 $BBSDir
  setres $rI2 $DoorFileDir
  setres $rI3 $BatchFile

  let rFos := "System.Fossil"
  getres $rFos Fossil
  tell $GAME " can use the FOSSIL driver for communications."
  if $Fossil != "" tell "Current setting for FOSSIL: " $Fossil
  display "Do you want " $GAME " to use FOSSIL? (Y/N)  "
  ask Fossil
  setres $rFos $Fossil

  let rLB := "LockBaudRate"
  getres $rLB LockedBaud
  display "If you have locked baud rates, please enter the baud rate: "
  read LockedBaud
  setres $rLB $LockedBaud

  let #cp := 0
  let #br := 0
  let #tl := 0
  let #nl := 0
  let #ll := 0
  let #al := 0
  let #cl := 0
  let #pl := 0
  let #rn := 0
  fopen $BatchFile
  fwrite "@ECHO OFF"
  fcd $CWD
  goto $doorfile
  tell "Error.  Unknown doorfile."
  exit

Local:
  tell "LOCAL.BAT will run the game locally."
  fopen LOCAL.BAT
  fwrite "SRDOOR LOCAL"
  fwrite $GAME
  fclose
  setres System.LocalOnly yes
  goto end

doorfile.sr:
  fwrite "COPY " $DoorFileDir "DOORFILE.SR ."
  fwrite $GAME
  fcd $BBSDir
  fclose
  goto next

door.sys:
  let #nl := 10
  let #cl := 20
  let #al := 20
  let #pl := 21
  let #br := 2
  let #cp := 1
  let #tl := 19
  goto std

dorinfo1.def:
  let #nl := 7
  let #ll := 8
  let #br := 5
  let #cp := 4
  let #tl := 12
  goto std

gtuser.bbs:
  display "Which COM port are you using?  (1-4) "
  read comport
  fwrite "SRDOOR GT " $comport
  goto std2

tribbs.sys:
  let #nl := 2
  let #br := 13
  let #cp := 12
  let #tl := 7
  goto std

chain.txt:
  let #nl := 2
  let #al := 14
  let #pl := 10
  let #br := 20
  let #cp := 21
  let #rn := 3
  goto std

command-line:
  fwrite "ECHO %1  >DOORFILE.SR"
  fwrite "IF [%2]==[C] ECHO 1 >>DOORFILE.SR"
  fwrite "IF NOT [%2]==[C] ECHO %2 >>DOORFILE.SR"
  fwrite "ECHO -1 >>DOORFILE.SR"
  fwrite "ECHO 25 >>DOORFILE.SR"
  fwrite "ECHO %4 >>DOORFILE.SR"
  fwrite "ECHO %5 >>DOORFILE.SR"
  fwrite "ECHO %3 >>DOORFILE.SR"
  fwrite "ECHO %1 >>DOORFILE.SR"
  fwrite $GAME
  fcd $BBSDir
  fwrite EXIT
  fclose
  goto next

std:
  fwrite SRDOOR
std2:
  fwrite $GAME
  fcd $BBSDir
  fwrite EXIT
  fclose

  fopen SETUP.SR
  fwrite $BBSDir $doorfile
  let h := "   <- Line # of "
  fwrite $#nl $h "Username or First name"
  fwrite $#ll $h "Last name (0 if prev line was full name)"
  fwrite $#cl $h "IBM characters (1/Y/G = yes)"
  fwrite $#al $h "ANSI support (1/Y/G/C = yes)"
  fwrite $#pl $h "number of lines on the screen"
  fwrite $#br $h "baud rate"
  fwrite $#cp $h "COM port"
  fwrite $#tl $h "time left (minutes)"
  fwrite $#rn $h "Real Name"
  fwrite "Enter 0 for any value not supported."
  fclose

next:
  pause
  cls
  tell "  Score File Setup"
  let x := "You can leave any of these blank if you wish"
  tell $x

  let r := "Scores.File.ANSI"
  getres $r S
  display "ANSI Score file: "
  read S
  setres $r $S

  let r := "Scores.File.Text"
  getres $r S
  display "Text Score file: "
  read S
  setres $r $S
  pause
  cls

end:
  tell "þ Run   UNPACK -y   to unpack the rest of the files."
  tell "þ Please run   SRE RESET   to reset the game if you haven't done so."
  tell "þ See Docs\Resource.DOC for setup/customization information."
  tell "þ See Docs\Sysop.DOC for more customization stuff."
  tell "þ See Docs\Register.DOC if you'd like to register."
  tell "þ See Flavors\Readme for instructions on turning SRE into "
  tell "  Trek Realms, Wild West, Medieval Realms, Dune Realms, or Fake-BRE!"
  pause
  exit

